<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>create account</title>
</head>
<body>
    <form th:action="@{/account/signup}" th:object="${userCreationRequest}" method="post">
        <input type="text" name="username" th:field="*{username}" placeholder="username" />
        <input type="password" name="password" th:field="*{password}" placeholder="password" />
        <input type="email" name="email" th:field="*{email}" placeholder="email" />
    </form>
</body>
</html>